*.pyc
*.o
*.exe
*.a
*.so
venv/
env/
.venv/
.env
*.cfg
*.ini
*.log
*.debug
*.db
*.sqlite
*.csv
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
db/
nohup.out
*.lock
.pytest_cache/