@import "./markdown.scss";

html,
body {
  height: screen;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  @apply bg-gradient-to-br from-[#cdcdcd] to-[#efefefef];
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 100%;
  animation: anime 16s linear infinite;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, cyan, white);
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, navy, cyan);
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;

  &.reverse {
    justify-content: flex-end;

    .message-box {
      background-color: var(--message-box-2);
      color: #fff;

      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    .message-pp {
      order: 2;
    }
  }
}

.message-pp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.message-box {
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  width: auto;
  max-width: 80%;

  &-wrapper {
    margin: 0 12px;

    span {
      font-size: 10px;
      line-height: 16px;
      opacity: 0.6;
    }
  }
}
